<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laura.pruebaandroid_estebanposada2" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".splashAct"
            android:label="@string/spl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Menu_cine"
            android:label="@string/title_activity_menu_cine" >
        </activity>
        <activity
            android:name=".Cartelera"
            android:label="@string/title_activity_cartelera" >
        </activity>
        <activity
            android:name=".Visitadas"
            android:label="@string/title_activity_visitadas" >
        </activity>
    </application>

</manifest>
